<template>
	<div id="profile" class="profile-container">
		<Navbar />
		<div class="grid-item" href="">grid item 1</div>
		<div class="grid-item">grid item 2</div>
		<div class="grid-item">grid item 3</div>
		<div class="grid-item">grid item 4</div>
		<div class="grid-item">grid item 5</div>
		<div class="grid-item">grid item 6</div>
		<div class="grid-item">grid item 7</div>
		<div class="grid-item">grid item 8</div>
		<div class="grid-item">grid item 9</div>
		<div class="grid-item">grid item 10</div>
		<div class="grid-item">grid item 11</div>
		<div class="grid-item">grid item 12</div>
		<div class="grid-item">grid item 13</div>
		<div class="grid-item">grid item 14</div>
		<div class="grid-item">grid item 15</div>
		<div class="grid-item">grid item 16</div>
	</div>
</template>

<script>
// import Navbar from '@/components/Navbar/Navbar.vue';
import Navbar from '../../components/Navbar/Navbar.vue';
export default {
	components: {
		Navbar,
	},
};
</script>

<style scoped src="./style.scss" lang="scss"></style>
