.profile-container {
	position: relative;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	display: grid;
	padding: 10em 20em;
	.grid-item {
		display: flex;
		width: 100%;
		max-width: 16em;
		min-height: 16em;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
}
