<template>
	<header>
		<div id="portrait">
			<h1><span>&lt;h1&gt;</span> ADAM HAMBE <span>&lt;/h1&gt;</span></h1>
			<h2>
				<span>&lt;h2&gt;</span> FULL STACK DEVELOPER <span>&lt;/h2&gt;</span>
			</h2>
			<div>
				<img src="avatar.png" alt="..." width="250" height="250" />
			</div>
		</div>
		<a class="scroll-down" href="#profile">
			<span>
				<i class="fas fa-chevron-down"> </i>
			</span>
		</a>
	</header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped src="./style.scss"></style>
