<template>
	<nav id="navbar">
		<div class="nav-item"></div>
		<div class="nav-item"></div>
		<div class="nav-item"></div>
	</nav>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped src="./style.scss"></style>
