#navbar {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-bottom: auto;
	height: 5em;
	width: 15em;
	background-color: black;
	.nav-item {
	}
}
