<template>
	<button :class="appearance">
		{{ appearance }}
	</button>
</template>

<script>
export default {
	props: ['appearance'],
	emits: ['emit-click'],
	methods: {
		handleClick() {
			this.$emit('emit-click');
		},
	},
};
</script>

<style scoped>
button {
	border: 1px solid #d3d3d3;
	border-radius: 16px;
	background-color: #005d92;
	height: 100%;
	width: 100%;
	padding: 1em 1em 1em 1em;
	color: white;
	font-family: sans-serif;
	cursor: pointer;
}

.primary {
	background-color: white;
}

.secondary {
	background-color: black;
}
</style>
