<template>
	<div>
		<Header />
		<Profile />
	</div>
</template>

<script>
import Header from './pages/Header/Header';
import Profile from './pages/Profile/Profile';
export default {
	name: 'App',
	components: {
		Header,
		Profile,
	},
};
</script>

<style lang="scss" src="./styles/style.scss"></style>
